    html {
        font-size: 62.5%;
        box-sizing: border-box;
    }
    
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    .calculator {
        border: 1px solid #ccc;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    .calculator-screen {
        width: 240px;
        font-size: 2rem;
        vertical-align: middle;
        line-height: 50px;
        height: 50px;
        border: 1px solid black;
        background-color: azure;
        color: black;
        text-align: center;
        padding-right: 20px;
        padding-left: 10px;
    }

    button {
        height: 50px;
        background-color: aliceblue;
        border-radius: 3px;
        border: 1px solid #c4c4c4;
        font-size: 2rem;
        color: #333;
        background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
        text-shadow: 0 1px rgba(255,255,255,.4);
    }
    
    button:hover {
        background-color: #eaeaea;
    }

    button:active{
        background-color: darksalmon;
    }

    
    .calculator-keys {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    #times{
        grid-area: 1/5;
    }

    #minus{
        grid-area: 2/5;
    }

    #plus{
        grid-area: 3/5;
    }

    .equal-sign{
        grid-area: 4/5;
    }

    #nthroot {
        grid-area: 1/1;
    }

    #cloud {
        grid-area: 2/1;
    }

    #seven {
        grid-area: 1/2;
    }
    #eight {
        grid-area: 1/3;
    }
    #nine {
        grid-area: 1/4;
    }

    #plusminus {
        grid-area: 4/2;
    }

    #zero {
        grid-area: 4/3;
    }

    .decimal {
        grid-area: 4/4;
    }

    #one {
        grid-area: 3/2;
    }

    #two {
        grid-area: 3/3;
    }

    #three {
        grid-area: 3/4;
    }

    .top-display {
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
    }

    #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, .decimal {
        background-color: snow;
    }

    #one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover, #zero:hover{
        background-color: #eaeaea;
    }

    #one:active, #two:active, #three:active, #four:active, #five:active, #six:active, #seven:active, #eight:active, #nine:active, #zero:active{
        background-color: darksalmon;
    }
    
    .operation {
        display: none;
        grid-template-rows: 1fr 6fr;
        background-color: whitesmoke;
    }

    .scientific {
        display: none;
        grid-template-rows: 1fr 6fr;
        background-color: honeydew;
    }

    body{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .icons {
        width: 24px;
        height: 24px;
    }

    .help {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dark-mode{
        background-color:#2d3441;
        color: white;
      }

    .dark-mode button{
        background-color: dimgray;
        color: white;
      }

    .dark-mode #one,.dark-mode #two,.dark-mode #three,.dark-mode #four,.dark-mode #five,.dark-mode #six,.dark-mode #seven,.dark-mode #eight,.dark-mode #nine,.dark-mode #zero,.dark-mode .decimal {
        background-color: slategrey;
    }

    .dark-mode .calculator-screen {
        background-color: gold;
        color: black;
    }

    .dark-mode .operation {
        background-color: darkslategrey;
    }

    .dark-mode .scientific {
        background-color: darkslategrey;
    }

    .dark-mode button:hover {
        background-color: #A1A1A1;
    }

    .dark-mode #one:hover,.dark-mode  #two:hover,.dark-mode  #three:hover,.dark-mode  #four:hover,.dark-mode  #five:hover,.dark-mode  #six:hover,.dark-mode  #seven:hover,.dark-mode  #eight:hover,.dark-mode  #nine:hover,.dark-mode  #zero:hover{
        background-color: #A1A1A1;
    }

    .dark-mode button{
        border-color: #2d3441;
    }

    .scientific-mode #nthroot {
        background-color: #FFDAB9;
    }

    .light-mode #light {
        background-color: #FFDAB9;
    }

    .light-mode .calculator-screen{
        background-color: gold;
        color: black;
    }

    .scientific-mode .scientific{
        display: grid;
    }

    .history-mode .operation {
        display: grid;
        grid-template-rows: 1fr 6fr;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .history-mode .operHead {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .history-mode #operScreen {
        text-align: center;
        margin-top: 20px;
    }

    .history-mode #opLog {
        height: 16px;
        width: 16px;
    }

    .scientific-mode .calculator{
        display: grid;
        width: 651px;
        grid-template-columns: 400px 249px;
    }

    .history-mode .calculator{
        display: grid;
        width: 650px;
        grid-template-columns: 249px 400px;
    }

    .scientific-mode.history-mode .calculator{
        display: grid;
        width: 900px;
        grid-template-columns: 249px 400px 249px;
    }

    .history-mode #clock{
        background-color: #FFDAB9;
    }

    #result{
        white-space: pre;
      }

    @media screen and (max-width: 600px) {
        .calculator {
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr;
            grid-template-areas: "display"
                                 "operation"
                                 "scientific";
        }

        .scientific {
            grid-area: scientific;
            height: 100%;
            margin-top: 0;
        }

        .display {
            height: auto; /* fix*/
        }
    }

    